@font-face {
    font-family: "MuseoSansCyrl";
    src: url("../fonts/museosanscyrl-300.woff2") format("woff2"),
        url("../fonts/museosanscyrl-300.woff") format("woff");
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "MuseoSansCyrl";
    src: url("../fonts/museosanscyrl-900.woff2") format("woff2"),
        url("../fonts/museosanscyrl-900.woff") format("woff");
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: "MuseoSansCyrl";
    src: url("../fonts/myriadpro.woff2") format("woff2"),
        url("../fonts/myriadpro.woff2") format("woff");
}