html {
    box-sizing: border-box;
    font-size: 24px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    transition: .4s ease-in-out;
}

button{
    cursor: pointer;
}

label {
    transition: none
}

body {
    min-width: 1140px;
    margin: 0;
    font-family: MuseoSansCyrl, sans-serif;
    color: black;
    @media (max-width: 1200px) {
        min-width: 960px;
    }
    @media (max-width: 992px) {
        min-width: 720px;
    }
    @media (max-width: 768px) {
        min-width: 576px;
    }
    @media (max-width: 576px) {
        min-width: 100%;
    }
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p {
    padding: 0;
    margin: 0;
}


h1,
h2,
h3,
legend{
    font-weight: 900;
}

label, p{
    font-weight: 300;
}

h1{
    font-size: 3rem;
    @media (max-width: 576px) {
        font-size: 2rem;
    }
}

legend {
    font-size: 1.5rem;
    @media (max-width: 576px) {
        font-size: 1.2rem;
    }
}

fieldset {
    border: none;
    padding: 0;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.card {
    width: 1480px;
    padding: 4rem;
    margin: 30px auto;
    box-shadow: 0px 9px 43px 3px rgba(0,0,0,0.07);
    @media (max-width: 1500px) {
        width: 1180px;
    }
    @media (max-width: 1200px) {
        width: 960px;
    }

    @media (max-width: 992px) {
        width: 720px;
    }
    @media (max-width: 768px) {
        width: 576px;
    }
    @media (max-width: 576px) {
        width: 100%;
        padding: 1.5rem;
    }
}

@media (max-width: 992px) {
    html {
        font-size: 18px;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 16px;
    }
}