input[type=radio].css-radio {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}


input[type=radio].css-radio+label.label-radio {
    padding-left: 72px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    background-repeat: no-repeat;
    background-position: 0 0;
    vertical-align: middle;
    text-overflow: ellipsis;
    cursor: pointer;

    @media (max-width: 576px) {
        padding-left: 50px;
        height: 35px;
        background-size: 35px;
        overflow: hidden;
        line-height: 35px;
    }
}

input[type=radio].css-radio:checked+label.label-radio {
    background-position: 0 -50px;

    @media (max-width: 576px) {
        background-position: 0 -35px;
    }
}

label.label-radio {
    background-image: url(../img/checkbox.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}