.switcher {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-left: 100px;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  font-size: 30px;
  user-select: none;

  input {
    display: none;
  }
}

.switcher__indicator {
  &::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    height: 45px;
    width: 45px;
    background-color: $main-color;
    border-radius: 50%;
    transition: all .3s ease;
    animation-name: pulsein;
    animation-duration: .3s;

    @media (max-width: 576px) {
      height: 31px;
      width: 31px;
      top: 2px;
      left: 2px;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 50px;
    background-color: $second-color;
    border-radius: 50px;
    transition: all .3s ease;

    @media (max-width: 576px) {
      width: 80px;
      height: 35px;
    }

  }

  input:checked+&::after {
    transform: translateX(50px);
    animation-name: pulseout;
    animation-duration: .3s;
    background-color: $second-color;

    @media (max-width: 576px) {
      transform: translateX(44px);
    }

  }

  input:checked+&::before {
    background-color: $main-color;
  }

  input:disabled+&::after,
  input:disabled+&::before {
    background-color: #e5e5e5;
  }
}

.checkbox-label {
  margin-left: 1rem;
  line-height: 1.8;

  @media (max-width: 576px) {
    line-height: 1;
  }
}

@keyframes pulsein {

  0%,
  100% {
    top: 0px;
    height: 40px;
    width: 40px;
  }

  50% {
    top: 10px;
    height: 30px;
    width: 60px;
  }
}

@keyframes pulseout {

  0%,
  100% {
    top: 0px;
    height: 40px;
    width: 40px;
  }

  50% {
    top: 10px;
    height: 30px;
    width: 60px;
  }
}

input[type=radio].css-radio {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}


input[type=radio].css-radio+label.label-radio {
    padding-left: 72px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    background-repeat: no-repeat;
    background-position: 0 0;
    vertical-align: middle;
    text-overflow: ellipsis;
    cursor: pointer;

    @media (max-width: 576px) {
        padding-left: 50px;
        height: 35px;
        background-size: 35px;
        overflow: hidden;
        line-height: 35px;
    }
}

input[type=radio].css-radio:checked+label.label-radio {
    background-position: 0 -50px;

    @media (max-width: 576px) {
        background-position: 0 -35px;
    }
}

label.label-radio {
    background-image: url(../img/checkbox.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


input[type=checkbox].css-check {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}


input[type=checkbox].css-check+label.label-check {
  padding-left: 72px;
  height: 50px;
  display: inline-block;
  line-height: 50px;
  background-repeat: no-repeat;
  background-position: 0 0;
  vertical-align: middle;
  text-overflow: ellipsis;
  cursor: pointer;

  @media (max-width: 576px) {
      padding-left: 50px;
      height: 35px;
      background-size: 35px;
      overflow: hidden;
      line-height: 35px;
  }
}

input[type=checkbox].css-check:checked+label.label-check {
  background-position: 0 -50px;

  @media (max-width: 576px) {
      background-position: 0 -35px;
  }
}

label.label-check {
  background-image: url(../img/checkbox.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}