body{
    position: relative;
}
fieldset {
    margin: 2rem 0;
}

legend {
    margin: 1rem 0;
    max-width: 1000px;

}

label {
    margin-bottom: 0.5rem;
    max-width: 800px;
}

.form-calculate {
    position: relative;
}


.button {
    padding: 1rem 2rem;
    background-color: #00ff00;
    background-image: linear-gradient(0.0deg, #dc7522 0%, #ff973b 100%);
    border-radius: 5px;
    border: transparent;
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 900;
    color: #ffffff;

    &:hover {
        background-image: linear-gradient(0.0deg, #ce5c00 0%, #dc7522 100%);
    }

    &.end-button{
        margin-top: 4rem;
    }
}


.first-screen {
    margin: 2.5rem 0;

    &_description {
        max-width: 750px;
        margin: 2.5rem 0;
    }
}

.main-form {
    margin: 2.5rem 0;
}

.fast-description {
    max-width: 820px;
    margin: 1rem 0;
}

.fast-range {
    margin: 2rem 0;
    max-width: 800px;
}

.calc-desription {
    margin: 2rem 0;
    max-width: 800px;

}

.subtotal {
    position: relative;
    max-width: 850px;
    margin-top: 185px;
    border-top: 2px solid #000;
    padding: 80px 0 0;

    p {
        margin: 40px 0;
    }

    @media (max-width: 576px) {
        margin-top: 85px;
    }
}


.total {
    &_area {
        display: flex;
        justify-content: space-between;
        margin: 2.5rem 0;

        @media (max-width: 768px) {
            flex-wrap: wrap;
        }

    }

    &_label {
        display: block;
        min-width: 13rem;
    }

    &_block {
        flex-grow: 1;

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    &_field {
        background-color: #ebf0f0;
        border: none;
        width: 100%;
        min-height: 2.5rem;
    }

    &_small {
        display: inline-block;
        max-width: 300px;
        margin-left: 50px;

        &__gray {
            color: #afaeae;
        }
    }

    &_submit {
        margin-left: 13rem;
        display: flex;
        align-items: center;

        @media (max-width: 992px) {
            margin-left: 0;
        }

        @media (max-width: 576px) {
            flex-wrap: wrap;

            .total_small {
                margin-left: 0;
                margin-top: 10px;
                width: 100%;
            }
        }
    }


    &_price {
        position: sticky;
        top: 30px;
        z-index: 5;
        text-align: right;
        width: 100%;
        &.totalPriceBottom{
            position: absolute;
            top: auto;
            @media (max-width: 576px) {
                bottom: 4rem;
            }
        }
        &__wrap {
            background-color: white;
            box-shadow: 5px 5px 3px 0 rgba(0,0,0,0.1);
            padding: 5px;
            border-radius: 12px;
            ;
        }

        &__sum {
            font-weight: 900;
            font-size: 2rem;
        }

        &__val {
            font-size: 1.5rem;
            font-weight: normal;
        }


    }

}
.deadline {
    display: block;
    margin: 1rem auto;
    text-align: center;
    font-size: 1.5rem;
    &-small {
        display: block;
    margin: 1rem auto;
    text-align: right;
    font-size: 0.5rem;
    }
}
