
$second-color: #777777 !default;
$main-color: #ff8b00 !default;

$thumb-radius: 50% !default;
$thumb-height: 3rem !default;
$thumb-width: 3rem !default;
$thumb-shadow-size: 2px !default;
$thumb-shadow-blur: 5px !default;
$thumb-shadow-color: rgba(#777777, .2) !default;
$thumb-border-width: 0.5rem !default;
$thumb-border-color: #fff !default;

$track-width: 100% !default;
$track-height: 0.5rem !default;
$track-shadow-size: 0 !default;
$track-shadow-blur: 0 !default;
$track-shadow-color: rgba(0, 0, 0, .2) !default;
$track-border-width: 0 !default;
$track-border-color: #cfd8dc !default;

$track-radius: 25px !default;
$contrast: 5% !default;

$ie-bottom-track-color: darken($second-color, $contrast) !default;

@mixin shadow($shadow-size, $shadow-blur, $shadow-color) {
  box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color, 0 0 $shadow-size lighten($shadow-color, 5%);
}

@mixin track {
  cursor: default;
  height: $track-height;
  transition: all .2s ease;
  width: $track-width;
}

@mixin thumb {
  @include shadow($thumb-shadow-size, $thumb-shadow-blur, $thumb-shadow-color);
  background: $main-color;
  border: $thumb-border-width solid $thumb-border-color;
  border-radius: $thumb-radius;
  box-sizing: border-box;
  cursor: default;
  height: $thumb-height;
  width: $thumb-width;
}
